<a href="/rock"> play Rock </a>
<a href="/paper"> play Paper </a>
<a href="/scissors"> play Scissors </a>
<h2> 
We played paper!
</h2>

<h2> 
They played <%= @comp_move %>!
</h2>

<h2> 
We <%= @outcome %>!
</h2>
